.custom-pic-container {
	padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px; 
    margin-right: 0;
    margin-left: 0;
}

.custom-profile-pic-container {
	padding-top: 200px;
}

#custom-header {
	padding-top: 30px;
	padding-bottom: -10px;
}

h4 {
	margin-top: 25px;
}

